In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("fuel_econ.csv", encoding='latin1')
df.head()

,id,make,model,year,VClass,drive,trans,fuelType,cylinders,displ,pv2,pv4,city,UCity,highway,UHighway,comb,co2,feScore,ghgScore
0,32204,Nissan,GT-R,2013,Subcompact Cars,All-Wheel Drive,Automatic (AM6),Premium Gasoline,6,3.8,79,0,16.4596,20.2988,22.5568,30.1798,18.7389,471,4,4
1,32205,Volkswagen,CC,2013,Compact Cars,Front-Wheel Drive,Automatic (AM-S6),Premium Gasoline,4,2.0,94,0,21.8706,26.9770,31.0367,42.4936,25.2227,349,6,6
2,32206,Volkswagen,CC,2013,Compact Cars,Front-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94,0,17.4935,21.2000,26.5716,35.1000,20.6716,429,5,5
3,32207,Volkswagen,CC 4motion,2013,Compact Cars,All-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94,0,16.9415,20.5000,25.2190,33.5000,19.8774,446,5,5
4,32208,Chevrolet,Malibu eAssist,2013,Midsize Cars,Front-Wheel Drive,Automatic (S6),Regular Gasoline,4,2.4,0,95,24.7726,31.9796,35.5340,51.8816,28.6813,310,8,8

In [3]:
fuelecon = df[["id", "make", "model", "year", "VClass", "drive", "fuelType", "feScore"]].copy()

In [4]:
fuelecon.head()

,id,make,model,year,VClass,drive,fuelType,feScore
0,32204,Nissan,GT-R,2013,Subcompact Cars,All-Wheel Drive,Premium Gasoline,4
1,32205,Volkswagen,CC,2013,Compact Cars,Front-Wheel Drive,Premium Gasoline,6
2,32206,Volkswagen,CC,2013,Compact Cars,Front-Wheel Drive,Premium Gasoline,5
3,32207,Volkswagen,CC 4motion,2013,Compact Cars,All-Wheel Drive,Premium Gasoline,5
4,32208,Chevrolet,Malibu eAssist,2013,Midsize Cars,Front-Wheel Drive,Regular Gasoline,8

In [16]:
fuelecon = fuelecon.rename(columns={
    "id": "ID",
    "make": "Make",
    "model": "Model",
    "year": "Year",
    "VClass": "Vehicle_Class",
    "drive": "Drive",
    "fuelType": "Fuel_Type",
    "feScore": "Fuel_Economy_Score"
})

In [17]:
fuelecon['Good Fuel Economy?'] = np.where(fuelecon["Fuel Economy Score"] > 6, "yes", "no")

In [18]:
fuelecon.set_index("ID", inplace = True)

KeyError: "None of ['ID'] are in the columns"

In [19]:
fuelecon.sample(5)

,Make,Model,Year,Vehicle Class,Drive,Fuel Type,Fuel Economy Score,Good Fuel Economy?
ID,,,,,,,,
36791,MINI,Cooper Hardtop 4 door,2016,Subcompact Cars,Front-Wheel Drive,Premium Gasoline,7,yes
39146,Chevrolet,Sonic,2018,Compact Cars,Front-Wheel Drive,Regular Gasoline,7,yes
38194,Roush Performance,Stage 3 Mustang,2017,Subcompact Cars,Rear-Wheel Drive,Premium Gasoline,3,no
34355,Porsche,Panamera 4,2014,Large Cars,All-Wheel Drive,Premium Gasoline,5,no
39223,Mercedes-Benz,AMG C43 4matic Coupe,2018,Subcompact Cars,4-Wheel Drive,Premium Gasoline,4,no

In [13]:
rds_connection_string = "postgres:postgres@localhost:5432/norwaycars"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [14]:
engine.table_names()

['fueleconomy']

In [15]:
fuelecon.to_sql(name='fueleconomy', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "ID" of relation "fueleconomy" does not exist
LINE 1: INSERT INTO fueleconomy ("ID", "Make", "Model", "Year", "Veh...
                                 ^

[SQL: INSERT INTO fueleconomy ("ID", "Make", "Model", "Year", "Vehicle Class", "Drive", "Fuel Type", "Fuel Economy Score", "Good Fuel Economy?") VALUES (%(ID)s, %(Make)s, %(Model)s, %(Year)s, %(Vehicle Class)s, %(Drive)s, %(Fuel Type)s, %(Fuel Economy Score)s, %(Good Fuel Economy?)s)]
[parameters: ({'ID': 32204, 'Make': 'Nissan', 'Model': 'GT-R', 'Year': 2013, 'Vehicle Class': 'Subcompact Cars', 'Drive': 'All-Wheel Drive', 'Fuel Type': 'Premium Gasoline', 'Fuel Economy Score': 4, 'Good Fuel Economy?': 'no'}, {'ID': 32205, 'Make': 'Volkswagen', 'Model': 'CC', 'Year': 2013, 'Vehicle Class': 'Compact Cars', 'Drive': 'Front-Wheel Drive', 'Fuel Type': 'Premium Gasoline', 'Fuel Economy Score': 6, 'Good Fuel Economy?': 'no'}, {'ID': 32206, 'Make': 'Volkswagen', 'Model': 'CC', 'Year': 2013, 'Vehicle Class': 'Compact Cars', 'Drive': 'Front-Wheel Drive', 'Fuel Type': 'Premium Gasoline', 'Fuel Economy Score': 5, 'Good Fuel Economy?': 'no'}, {'ID': 32207, 'Make': 'Volkswagen', 'Model': 'CC 4motion', 'Year': 2013, 'Vehicle Class': 'Compact Cars', 'Drive': 'All-Wheel Drive', 'Fuel Type': 'Premium Gasoline', 'Fuel Economy Score': 5, 'Good Fuel Economy?': 'no'}, {'ID': 32208, 'Make': 'Chevrolet', 'Model': 'Malibu eAssist', 'Year': 2013, 'Vehicle Class': 'Midsize Cars', 'Drive': 'Front-Wheel Drive', 'Fuel Type': 'Regular Gasoline', 'Fuel Economy Score': 8, 'Good Fuel Economy?': 'yes'}, {'ID': 32209, 'Make': 'Lexus', 'Model': 'GS 350', 'Year': 2013, 'Vehicle Class': 'Midsize Cars', 'Drive': 'Rear-Wheel Drive', 'Fuel Type': 'Premium Gasoline', 'Fuel Economy Score': 6, 'Good Fuel Economy?': 'no'}, {'ID': 32210, 'Make': 'Lexus', 'Model': 'GS 350 AWD', 'Year': 2013, 'Vehicle Class': 'Midsize Cars', 'Drive': 'All-Wheel Drive', 'Fuel Type': 'Premium Gasoline', 'Fuel Economy Score': 5, 'Good Fuel Economy?': 'no'}, {'ID': 32214, 'Make': 'Hyundai', 'Model': 'Genesis Coupe', 'Year': 2013, 'Vehicle Class': 'Subcompact Cars', 'Drive': 'Rear-Wheel Drive', 'Fuel Type': 'Premium Gasoline', 'Fuel Economy Score': 5, 'Good Fuel Economy?': 'no'}  ... displaying 10 of 3929 total bound parameter sets ...  {'ID': 39900, 'Make': 'Lexus', 'Model': 'LS 500', 'Year': 2018, 'Vehicle Class': 'Midsize Cars', 'Drive': 'Rear-Wheel Drive', 'Fuel Type': 'Premium Gasoline', 'Fuel Economy Score': 5, 'Good Fuel Economy?': 'no'}, {'ID': 39901, 'Make': 'Lexus', 'Model': 'LS 500 AWD', 'Year': 2018, 'Vehicle Class': 'Midsize Cars', 'Drive': 'All-Wheel Drive', 'Fuel Type': 'Premium Gasoline', 'Fuel Economy Score': 4, 'Good Fuel Economy?': 'no'})]
(Background on this error at: http://sqlalche.me/e/13/f405)